
.form{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

input{
    width: 272px;
    height: 40px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 16px;
}
input:hover {
    border-color: #171717;
    box-shadow: 0 0 5px rgba(2, 2, 2, 0.5);
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px #ff910080;   
}

button{
    width: 75px;
    height: 40px;
    margin-left: 8px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #007bff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 26px;
    margin-top: 20px;
    padding: 20px;
    list-style: none;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #595353;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    transition: transform 0.2s;
}

.gallery-item:hover {
    transform: scale(1.02);
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    margin-top: auto;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    display: none;
    margin: 20px auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader.is-visible {
    display: block;
}